{% extends "layout.html" %} 
{% block content %}
  <div class="card" style="border-radius: 15px; border-width: 3px; border-color: blueviolet; position: relative; top: 5px;">
    <img class="card-img-top" style="border: radius 10px;" src="https://user-images.githubusercontent.com/85386114/213919086-0a5e90f3-725f-4eb1-8382-c109d40ed925.jpeg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-text">Hey ! I am Kowsik</h3>
      <p> I am create this website at 22-01-2023 in my 1st year</p>
      <p> if you connect with me and see my other project are available in git hub page :</p>
      <a href="https://github.com/kowsiganMV" class="card-link">By Kowsigan</a>
    </div>
  </div>
{% endblock %}
